body {
    display: flex;
    background-color: #D3E5F0;
    font-family: 'Montserrat', sans-serif;
    color: #26505e;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0;
}
h2 {
    margin: 0;
}

article {
    box-sizing: border-box;
    width: 400px;
    max-width: 90vw;
    margin: 25px auto;
    padding: 25px 35px;
    border: 1px solid #fdfdfd23;
    border-radius: 25px;
    background: #D3E5F0;
    box-shadow:  10px 10px 19px #97c7e594,
                -10px -10px 19px #f3ffffbb;

}

.article {
    &_header {
        position: relative;
        padding: 0 45px;
        text-align: center;
        letter-spacing: 2px;
    }
    &_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;
    }
    &_content {
        padding: 25px;
        border-radius: 25px;
        background: #D3E5F0;
        box-shadow: inset 10px 10px 19px #97c7e594,
                inset -10px -10px 19px #f3ffffbb;

        &-video {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .content-video_preview {
                height: 32px;
                width: 32px;
                padding: 4px 8px;
                line-height: 1;
                border-radius: 8px;
                background: #D3E5F0;
                box-shadow: 10px 10px 19px #97c7e594,
                            -10px -10px 19px #f3ffffbb;
            }
            .content-video_info {
                flex: 1 1 auto;
                padding-left: 25px;

                p {
                    margin: 0;
                    font-size: smaller;
                    font-weight: bold;
                }
                small {
                    padding: 0;
                }
            }
        }
    }
    &_section {
        padding: 10px 18px;
        margin-bottom: 25px;
        border: 1px solid #fdfdfd23;
        border-radius: 25px;
        background: #D3E5F0;
        color: #315B69;
        box-shadow:  10px 10px 19px #97c7e594,
                    -10px -10px 19px #f3ffffbb;
    }
    &_icon {
        position: absolute;
        top: 10px;
        left: 0;
    }
}

table {
    width: 100%;

    td {
        padding: 4px 10px;

        &:first-child {
            width: 1%;
            white-space: nowrap;
        }
        &:nth-child(2) {
            font-weight: bold;
        }
    }

    .chart {
        &_container {
            display: flex;
            height: 16px;
            width: 100%;
            padding: 4px;
            border-radius: 25px;
            background: #D3E5F0;
            box-shadow: inset 10px 10px 19px #97c7e594,
                    inset -10px -10px 19px #f3ffffbb;
        }
        &_bar {
            background: linear-gradient(50deg, #F5CA7C, #F7A078);
            height: 100%;
            width: 45%;
            border-radius: 25px;
        }
    }
}


.button {
    cursor: pointer;
    font-weight: bold;
    color: #315B69;
    background: #D3E5F0;
    border: 1px solid #fdfdfd23;
    box-shadow: 10px 10px 19px #97c7e594,
                -10px -10px 19px #f3ffffbb;
    &:active {
        box-shadow: 10px 10px 19px #97c7e594,
                    -10px -10px 19px #f3ffffbb,
                    inset 5px 5px 12px #97c7e594,
                    inset -5px -5px 12px #f3ffffbb;
    }

    &--pill {
        @extend .button;
        padding: 10px 18px;
        border-radius: 25px;
        background: #D3E5F0;
    }
    &--square {
        @extend .button;
        height: 40px;
        width: 40px;
        border-radius: 8px;  
    }
}

@media only screen and (max-width: 900px) {
    body {
        display: block;
    }
  }