body {
  display: flex;
  background-color: #D3E5F0;
  font-family: "Montserrat", sans-serif;
  color: #26505e;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin: 0;
}

h2 {
  margin: 0;
}

article {
  display: flex;
  background: #D3E5F0;
  border: 1px solid rgba(253, 253, 253, 0.137254902);
  border-radius: 25px;
  box-sizing: border-box;
  box-shadow: 10px 10px 19px rgba(151, 199, 229, 0.5803921569), -10px -10px 19px rgba(243, 255, 255, 0.7333333333);
  flex-direction: column;
  justify-content: space-between;
  max-width: 90vw;
  margin: 25px auto;
  padding: 25px 35px;
  width: 400px;
}

.article_header {
  position: relative;
  padding: 0 45px;
  text-align: center;
  letter-spacing: 2px;
}
.article_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}
.article_content {
  border-radius: 25px;
  background: #D3E5F0;
  box-shadow: inset 10px 10px 19px rgba(151, 199, 229, 0.5803921569), inset -10px -10px 19px rgba(243, 255, 255, 0.7333333333);
  flex-grow: 1;
  padding: 25px;
}
.article_content-video {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.article_content-video:not(:last-child) {
  margin-bottom: 20px;
}
.article_content-video .content-video_preview {
  height: 32px;
  width: 32px;
  padding: 4px 8px;
  line-height: 1;
  border-radius: 8px;
  background: #D3E5F0;
  box-shadow: 10px 10px 19px rgba(151, 199, 229, 0.5803921569), -10px -10px 19px rgba(243, 255, 255, 0.7333333333);
}
.article_content-video .content-video_info {
  flex: 1 1 auto;
  padding-left: 25px;
}
.article_content-video .content-video_info p {
  margin: 0;
  font-size: smaller;
  font-weight: bold;
}
.article_content-video .content-video_info small {
  padding: 0;
}
.article_section {
  padding: 10px 18px;
  margin-bottom: 25px;
  border: 1px solid rgba(253, 253, 253, 0.137254902);
  border-radius: 25px;
  background: #D3E5F0;
  color: #315B69;
  box-shadow: 10px 10px 19px rgba(151, 199, 229, 0.5803921569), -10px -10px 19px rgba(243, 255, 255, 0.7333333333);
}
.article_section--borderless {
  margin-bottom: 25px;
}
.article_icon {
  position: absolute;
  top: 10px;
  left: 0;
}

.section-row {
  display: flex;
  justify-content: space-between;
}

i:not(.article_icon) {
  color: #9BB7D0;
}

table {
  width: 100%;
}
table td {
  padding: 4px 10px;
}
table td:first-child {
  width: 1%;
  white-space: nowrap;
}
table td:nth-child(2) {
  font-weight: bold;
}

.button, .button--square, .button--pill {
  background: #D3E5F0;
  border: 1px solid rgba(253, 253, 253, 0.137254902);
  box-shadow: 10px 10px 19px rgba(151, 199, 229, 0.5803921569), -10px -10px 19px rgba(243, 255, 255, 0.7333333333);
  color: #315B69;
  cursor: pointer;
  font-weight: bold;
}
.button:active, .button--square:active, .button--pill:active {
  box-shadow: 10px 10px 19px rgba(151, 199, 229, 0.5803921569), -10px -10px 19px rgba(243, 255, 255, 0.7333333333), inset 5px 5px 12px rgba(151, 199, 229, 0.5803921569), inset -5px -5px 12px rgba(243, 255, 255, 0.7333333333);
}
.button.active, .active.button--square, .active.button--pill {
  cursor: auto;
  box-shadow: inset 5px 5px 12px rgba(151, 199, 229, 0.5803921569), inset -5px -5px 12px rgba(243, 255, 255, 0.7333333333);
}
.button--pill {
  padding: 10px 18px;
  border-radius: 25px;
  background: #D3E5F0;
}
.button--square {
  border-radius: 8px;
  height: 40px;
  position: relative;
  width: 40px;
}
.button--square i {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.h-chart_container {
  display: flex;
  height: 16px;
  width: 100%;
  padding: 4px;
  border-radius: 25px;
  background: #D3E5F0;
  box-shadow: inset 10px 10px 19px rgba(151, 199, 229, 0.5803921569), inset -10px -10px 19px rgba(243, 255, 255, 0.7333333333);
}
.h-chart_bar {
  background: linear-gradient(50deg, #F5CA7C, #F7A078);
  height: 100%;
  width: 45%;
  border-radius: 25px;
}

.v-chart_container, .v-chart_container--empty {
  align-items: flex-end;
  border-radius: 25px;
  background: #D3E5F0;
  box-shadow: inset 10px 10px 19px rgba(151, 199, 229, 0.5803921569), inset -10px -10px 19px rgba(243, 255, 255, 0.7333333333);
  display: flex;
  min-height: 100px;
  min-width: 30px;
  padding: 4px;
}
.v-chart_container--empty {
  box-shadow: 10px 10px 19px rgba(151, 199, 229, 0.5803921569), -10px -10px 19px rgba(243, 255, 255, 0.7333333333);
}
.v-chart_bar, .v-chart_bar--85, .v-chart_bar--60 {
  border-radius: 25px;
  width: 100%;
}
.v-chart_bar--60 {
  height: 60px;
}
.v-chart_bar--85 {
  height: 85%;
}
.v-chart_bar--blue {
  background: linear-gradient(#69B4F5, #56D0D9);
  box-shadow: 0px 0px 25px 2px #56D0D9;
}
.v-chart_bar--orange {
  background: linear-gradient(#F5CA7C, #F7A078);
  box-shadow: 0px 0px 25px 2px #F5CA7C;
}
.v-chart_bar--pink {
  background: linear-gradient(#FC8DAB, #F870E1);
  box-shadow: 0px 0px 25px 2px #FC8DAB;
}

@media only screen and (max-width: 900px) {
  body {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */