body {
    display: flex;
    background-color: #D3E5F0;
    font-family: 'Montserrat', sans-serif;
    color: #26505e;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0;
}
h2 {
    margin: 0;
}

article {
    display: flex;
    background: #D3E5F0;
    border: 1px solid #fdfdfd23;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow:  10px 10px 19px #97c7e594,
                -10px -10px 19px #f3ffffbb;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90vw;
    margin: 25px auto;
    padding: 25px 35px;
    width: 400px;
}

.article {
    &_header {
        position: relative;
        padding: 0 45px;
        text-align: center;
        letter-spacing: 2px;
    }
    &_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;
    }
    &_content {
        border-radius: 25px;
        background: #D3E5F0;
        box-shadow: inset 10px 10px 19px #97c7e594,
                inset -10px -10px 19px #f3ffffbb;
        flex-grow: 1;
        padding: 25px;

        &-video {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .content-video_preview {
                height: 32px;
                width: 32px;
                padding: 4px 8px;
                line-height: 1;
                border-radius: 8px;
                background: #D3E5F0;
                box-shadow: 10px 10px 19px #97c7e594,
                            -10px -10px 19px #f3ffffbb;
            }
            .content-video_info {
                flex: 1 1 auto;
                padding-left: 25px;

                p {
                    margin: 0;
                    font-size: smaller;
                    font-weight: bold;
                }
                small {
                    padding: 0;
                }
            }
        }
    }
    &_section {
        padding: 10px 18px;
        margin-bottom: 25px;
        border: 1px solid #fdfdfd23;
        border-radius: 25px;
        background: #D3E5F0;
        color: #315B69;
        box-shadow:  10px 10px 19px #97c7e594,
                    -10px -10px 19px #f3ffffbb;

        &--borderless {
            margin-bottom: 25px;
        }
    }
    &_icon {
        position: absolute;
        top: 10px;
        left: 0;
    }
}

.section {
    &-row {
        display: flex;
        justify-content: space-between;
    }
}

i:not(.article_icon) {
    color: #9BB7D0;
}

table {
    width: 100%;

    td {
        padding: 4px 10px;

        &:first-child {
            width: 1%;
            white-space: nowrap;
        }
        &:nth-child(2) {
            font-weight: bold;
        }
    }
}


.button {
    background: #D3E5F0;
    border: 1px solid #fdfdfd23;
    box-shadow: 10px 10px 19px #97c7e594,
                -10px -10px 19px #f3ffffbb;
    color: #315B69;
    cursor: pointer;
    font-weight: bold;
    &:active {
        box-shadow: 10px 10px 19px #97c7e594,
                    -10px -10px 19px #f3ffffbb,
                    inset 5px 5px 12px #97c7e594,
                    inset -5px -5px 12px #f3ffffbb;
    }
    &.active {
        cursor: auto;
        box-shadow: inset 5px 5px 12px #97c7e594,
                    inset -5px -5px 12px #f3ffffbb;
    }

    &--pill {
        @extend .button;
        padding: 10px 18px;
        border-radius: 25px;
        background: #D3E5F0;
    }
    &--square {
        @extend .button;
        border-radius: 8px;
        height: 40px;
        position: relative;
        width: 40px;  

        i {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.h-chart {
    &_container {
        display: flex;
        height: 16px;
        width: 100%;
        padding: 4px;
        border-radius: 25px;
        background: #D3E5F0;
        box-shadow: inset 10px 10px 19px #97c7e594,
                inset -10px -10px 19px #f3ffffbb;
    }
    &_bar {
        background: linear-gradient(50deg, #F5CA7C, #F7A078);
        height: 100%;
        width: 45%;
        border-radius: 25px;
    }
}

.v-chart {
    &_container {
        align-items: flex-end;
        border-radius: 25px;
        background: #D3E5F0;
        box-shadow: inset 10px 10px 19px #97c7e594,
                inset -10px -10px 19px #f3ffffbb;
        display: flex;
        min-height: 100px;
        min-width: 30px;
        padding: 4px;
        

        &--empty {
            @extend .v-chart_container;
            box-shadow: 10px 10px 19px #97c7e594,
                        -10px -10px 19px #f3ffffbb;
        }
    }
    &_bar {
        border-radius: 25px;
        width: 100%;

        &--60 {
            @extend .v-chart_bar;
            height: 60px;
        }
        &--85 {
            @extend .v-chart_bar;
            height: 85%;
        }

        &--blue {
            background: linear-gradient(#69B4F5, #56D0D9);
            box-shadow: 0px 0px 25px 2px #56D0D9;
        }
        &--orange {
            background: linear-gradient(#F5CA7C, #F7A078);
            box-shadow: 0px 0px 25px 2px #F5CA7C;
        }
        &--pink {
            background: linear-gradient(#FC8DAB, #F870E1);
            box-shadow: 0px 0px 25px 2px #FC8DAB;
        }
    }
}

@media only screen and (max-width: 900px) {
    body {
        display: block;
    }
  }